<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plage horaire</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../../static/weekly/weekly_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../../static/header/header_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../../static/weekly/popup_style.css' %}">

    <style>


    </style>


</head>
<body style="margin: 0;">

    {% for message in messages %}
    <div class="custom-alert fade">
        <strong>Message : </strong> {{message}}
        <button type="button" class="close-message" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script>

        var closeButtons = document.querySelectorAll('.close-message');
        closeButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var messageDiv = this.closest('.custom-alert');
                messageDiv.style.display = 'none';
            });
        });
    </script>
    {% endfor %}

    <header>
        <!-- Cercle de couleur avec texte -->
        <div class="user-circle"></div>

        <div class="block">

            <div>
                {% if user.is_authenticated %}
                <h3 style="padding-left: 5px;">Hello {{ user.username }}</h3>
                {% endif %}
            </div>
            <!-- Menu horizontal -->
            <nav>
                <ul>
                    <li><a href="/agenda">Mon Agenda</a></li>
                    <li><a href="/compte">Mon compte</a></li>
                    <li><a href="#">Mes patients</a></li>
                    <li><a href="#">Stats</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>

        </div>

        <div class="header-right">

            <form method="post" action="{% url 'agenda' %}"  style="display: flex; align-items: center;">
                {% csrf_token %}

                <span id="week" class="month"></span>
                <button class="previous" type="submit" id="previousWeek"></button><!--  id="previousWeek" -->
                <span style="display: none;" id="date_vue">{{ date }}</span>
                <input type="hidden" class="date" type="date" id="date" name="date" value="">
                <button class="next" type="submit" id="nextWeek"></button><!--  id="nextWeek" -->
            </form>

            <div class="logout-btn"><a href="/signout"></a></div>
        </div>

    </header>

    <div class="week">
        <!-- Horaires -->
        <div style="height: 500px; width: calc(100% / 14);">
            <h3 style="height: 40px; margin: 10px 0 0 0; justify-content: center; display: flex;">Horaires</h3>
            <div class="hour-slot" style="background-color: white">7h</div>
            <div class="hour-slot" style="background-color: white">8h</div>
            <div class="hour-slot" style="background-color: white">9h</div>
            <div class="hour-slot" style="background-color: white">10h</div>
            <div class="hour-slot" style="background-color: white">11h</div>
            <div class="hour-slot" style="background-color: white">12h</div>
            <div class="hour-slot" style="background-color: white">13h</div>
            <div class="hour-slot" style="background-color: white">14h</div>
            <div class="hour-slot" style="background-color: white">15h</div>
            <div class="hour-slot" style="background-color: white">16h</div>
            <div class="hour-slot" style="background-color: white">17h</div>
            <div class="hour-slot" style="background-color: white">18h</div>
            <div class="hour-slot" style="background-color: white">19h</div>
        </div>
        <!-- Jour 1 (Lundi) -->
        {% for key, value in rdv.items %}
            <div class="day">
                <h3 id="{{ key }}" style="height: 45px; margin: 10px 0 0 0;"></h3>
                {% for slot in value %}
                    {% if slot.bloque == True %}
                    {% with index=forloop.counter %}

                    <form method="post" action="{% url 'agenda' %}" id="{{key}}_{{index}}" class="form_week">
                        {% csrf_token %}
                        <div class="hour-slot" style="background-color: darkgrey; height: 100%;">
                            
                            <button class="image-button-lock" type="submit" name="slot" value="slot_unlock_{{ slot.heure_debut }}_{{ key }}" id="unlock_{{ index }}_{{key}}" data-debut="{{slot.get_vertical_position}}" data-duree="{{slot.get_height}}"></button>
                            <input type="hidden" type="date" class="date" name="date" value="">
                            <!-- <input type="hidden" name="jour" value = 0 > -->
                        </div>
                        <script>
                            var button = document.getElementById('unlock_{{ index }}_{{key}}');
                            var form = document.getElementById('{{key}}_{{index}}');
                            var heureDebutHour = parseInt(button.getAttribute('data-debut')) + 68; //Pour le titre du jour + padding + margin
                            var hauteur = parseInt(button.getAttribute('data-duree'));
                            console.log("Click", heureDebutHour);

                            if (hauteur < 25) { 
                                form.setAttribute('data-height', 'small'); // Ajoute l'attribut 'data-height="small"'
                            }  

                            form.style.position = 'absolute';
                            form.style.width = '80%';
                            form.style.height = hauteur + 'px';
                            form.style.top = heureDebutHour + 'px';
                        </script>
                    </form>
                    {% endwith %}

                    {% elif slot.patient %}
                    {% with index=forloop.counter %}
                    {% with index_jour=forloop.parentloop.counter %}
                    <div id="{{key}}_slot_{{index}}" class="form_week">
                        <div class="hour-slot popup-button" style="background-color: greenyellow; height: 100%;" data-slot-info = "{{ slot.patient.user.first_name }}{{ slot.patient.user.last_name }}_{{ slot.patient.tel_patient }}_{{ slot.patient.adresse_patient }}_{{ slot.patient.user.email }}_{{ slot.patient.numero_secu }}_{{ slot.note }}">
                            
                            {% if slot.get_height > 10 %}
                                <h4> {{ slot.patient.user.first_name }} </h4>
                                <h4> {{ slot.patient.user.last_name }} </h4>
                                <!-- <h4> {{ slot.note }} </h4> -->
                            {% endif %}
                            
                            <button class="image-button-slot" style="background-color: greenyellow;" name="slot" value="slot_rdv_{{ slot.heure_debut }}_{{ key }}" data-debut="{{slot.get_vertical_position}}" id="slot_rdv_{{ index }}_{{key}}" data-duree="{{slot.get_height}}"></button>
                            <input type="hidden" type="date" class="date" name="date" value="">
                            <!-- <input type="hidden" name="jour" value = 0 > -->
                        </div>
                    </div>
                    <script>
                        var button = document.getElementById('slot_rdv_{{ index }}_{{key}}');
                        var form = document.getElementById('{{key}}_slot_{{index}}');
                        var heureDebutHour = parseInt(button.getAttribute('data-debut')) + 68; //Pour le titre du jour + padding + margin
                        var hauteur = parseInt(button.getAttribute('data-duree'));
                        console.log("Click", hauteur)

                        if (hauteur < 25) { 
                            form.setAttribute('data-height', 'small'); // Ajoute l'attribut 'data-height="small"'
                        } 

                        form.style.position = 'absolute';
                        form.style.width = '80%';
                        form.style.top = heureDebutHour + 'px';
                        form.style.height = hauteur + 'px';
                    </script>
                    {% endwith %}
                    {% endwith %}

                    {% else %}
                    {% with index=forloop.counter %}
                    {% with index_jour=forloop.parentloop.counter %}
                    <div class="hour-slot form_week" id="{{key}}_lock_{{index}}">

                        <button class="btn block-btn image-button" type="submit" name="slot" value="slot_lock_{{ slot.heure_debut }}_{{ key }}" data-debut="{{slot.get_vertical_position}}" id="lock_{{ index }}_{{key}}" data-duree="{{slot.get_height}}"></button>

                        <button class="image-button add-btn"  name="slot" value="slot_add_{{ slot.heure_debut }}_{{ key }}" id="add_{{ index }}"></button>
                        
                    </div>
                    <script>
                        var button = document.getElementById('lock_{{ index }}_{{key}}');
                        var div = document.getElementById('{{key}}_lock_{{index}}');
                        var heureDebutHour = parseInt(button.getAttribute('data-debut')) + 68; //Pour le titre du jour + padding + margin
                        var hauteur = parseInt(button.getAttribute('data-duree'));
                        console.log("Click", heureDebutHour)

                        if (hauteur < 25) { 
                            div.setAttribute('data-height', 'small'); // Ajoute l'attribut 'data-height="small"'
                        } 

                        div.style.position = 'absolute';
                        div.style.width = '80%';
                        div.style.top = heureDebutHour + 'px';
                        div.style.height = hauteur + 'px';
                    </script>
                    {% endwith %}
                    {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}


    <div id="myPopup" class="popup" style="z-index: 3;">
        <div class="popup-content">

            <span id="close">&times;</span>
            <h2 style="text-align: center;">16:00 - 17h00 (1h) le 30 janvier 2024</h2>
            <div class="fiche-patient">
                
                <div class="icon-texte nom-pop">
                    <div class="patient-circle"></div>
                    <p></p>
                </div>
                

                <div class="icon-texte tel-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>+33 6 45 45 45 45</p>
                </div>

                <div class="icon-texte adresse-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>3 allée des abricots, Paris 60129, France.</p>
                </div>

                <div class="icon-texte email-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>alexis.simono@utt.com</p>
                </div>

                <div class="icon-texte vitale-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>26545151 11 115</p>
                </div>

                <div class="icon-texte respo-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>André Dupont</p>
                </div>

            </div>
            <h4>Note: </h4>
            <textarea id="note" rows="4" cols="50" maxlength="2000" placeholder="Ecrivez ce que vous voulez balek"></textarea>
            <br>
            <br>
            <div class="button-container">
                <button class="cancel-btn">Annuler le RDV</button>
            </div>
            

        </div>
    </div>


    <div id="popup2">
        <div id="popup-add">
            <span id="close2">&times;</span>
            <h2 style="text-align: center;">Ajouter un RDV !</h2>

            <form method="post" action="{% url 'agenda' %}" id="form_add_rdv">

                <div class="form-block">
                    {% csrf_token %}

                    <div class="inputBox">
                        <input type="text" name="titre" id="titre" required>
                        <span>Titre</span>
                    </div>
            
                    <h4 style="text-align: left; margin-bottom: 5px;">Rechercher le client</h4>
                    <input type="text" name="search" style="width: 100%; align-items: start; display: flex;" id="search" required>
                    <div id="results-container">
            
                    </div>

                    <br><hr style="border-top: 1px solid black;">

                    <span>Heure de début:</span>

                    <div class="container-box">
                        <input type="time" id="heure" name="heure" step="900" class="clock" style="width: 20%; margin-top: 30px;" required>    
                    </div>

                    <br><br>

                    <div>
                        <span style="left: 0;">Choisissez la durée:</span>
                        <br>

                        <div class="container-box">
                        
                            <div class="radiobox-duree">

                                <div class="test">
                                    <input type="radio" id="option1" name="duree" value="00:15" checked>
                                    <label for="option1">15min</label>
                                </div>

                                <div class="test">
                                    <input type="radio" id="option2" name="duree" value="00:30">
                                    <label for="option2">30min</label>
                                </div>

                                <div class="test">
                                    <input type="radio" id="option3" name="duree" value="00:45">
                                    <label for="option3">45min</label>
                                </div>
                            </div>

                            <div class="radiobox-duree">
                                
                                <div class="test">
                                    <input type="radio" id="option4" name="duree" value="01:00">
                                    <label for="option4">1h</label>
                                </div>
                                <div class="test">
                                    <input type="radio" id="option5" name="duree" value="01:30">
                                    <label for="option5">1h30</label>
                                </div>
                                <div class="test">
                                    <input type="radio" id="option6" name="duree" value="02:00">
                                    <label for="option6">2h</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        
                <input class="date" type="hidden" name="date" value="">

                <div class="addrdv-notes">
                    <label for="notes" style="margin-bottom: 3px;">Notes:</label>
                    <input type="text" name="notes" id="notes" style="height: 50px;">
                </div>

                
                <button id="add_rdv_btn" class="cancel-btn" type="submit" name="slot" value="slot_add" style="width: fit-content; font-size: 14px; padding: 8px; margin: auto;">Ajouter le RDV</button>
        
            </form>
        </div>


    </div>



    <div id="popup3">
        <div id="popup-lock" style="background-color: rgb(248, 248, 248);">

            <span id="close3">&times;</span>
            <h3>Choisissez les paramètres du slot à bloquer !</h3>
            <br>

            <form method="post" action="{% url 'agenda' %}">
                {% csrf_token %}

                <div class="form-block">

                    <span>Heure de début:</span>

                    <div class="container-box">
                        <input type="time" id="heure" name="heure" step="900" class="clock" style="width: 20%; margin-top: 50px;" required>    
                    </div>

                    <br><br><br>

                    <div>
                        <span style="left: 0;">Choisissez la durée:</span>
                        <br>

                        <div class="container-box">
                        
                            <div class="radiobox-duree">

                                <div class="test">
                                    <input type="radio" id="option1" name="duree" value="00:15" checked>
                                    <label for="option1">15min</label>
                                </div>

                                <div class="test">
                                    <input type="radio" id="option2" name="duree" value="00:30">
                                    <label for="option2">30min</label>
                                </div>

                                <div class="test">
                                    <input type="radio" id="option3" name="duree" value="00:45">
                                    <label for="option3">45min</label>
                                </div>
                            </div>

                            <div class="radiobox-duree">
                                
                                <div class="test">
                                    <input type="radio" id="option4" name="duree" value="01:00">
                                    <label for="option4">1h</label>
                                </div>
                                <div class="test">
                                    <input type="radio" id="option5" name="duree" value="01:30">
                                    <label for="option5">1h30</label>
                                </div>
                                <div class="test">
                                    <input type="radio" id="option6" name="duree" value="02:00">
                                    <label for="option6">2h</label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <br><br><br><br><br>

                <input class="date" type="hidden" name="date" value=""> <!-- date -->
                <button id="block_rdv_btn" class="cancel-btn" style="font-size: 14px; padding: 8px;" type="submit" name="slot" value="slot_block">Bloquer le RDV</button><!-- slot_lock_heurededebut_numérodujour -->
    
                
            </form>

           
        </div>
    </div>

    <div id="popup4">
        <div class="popup-delete container-box" style="padding: 30px; position: relative;">

            <span id="close4" style="position: absolute; top: 0; margin: 15px; right: 0;">&times;</span>
            <h3>Justifier l'annulation à votre patient !</h3>
            <br>

            <form method="POST" action="{% url 'agenda' %}" class="container-box">
                {% csrf_token %}

                <textarea name="justification" cols="30" rows="10"></textarea>
                <br><br>
                <input class="date" type="hidden" name="date" value=""> <!-- date -->
                <button id="delete_rdv_btn" class="cancel-btn" style="font-size: 14px; padding: 8px;" type="submit" name="slot" value="slot_unlock">Supprimer le RDV</button><!-- slot_lock_heurededebut_numérodujour -->
    
            </form>

        </div>

    </div>

    <script src="../../static/script/weekly_script.js"></script>
    <script src="../../static/script/accueil_date_script.js"></script>
    <script src="../../static/script/add_rdv_script.js"></script>
</body>
</html>
