<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plage horaire</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../../static/weekly/weekly_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../../static/header/header_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../../static/weekly/popup_style.css' %}">


</head>
<body>


    <header>
        <!-- Cercle de couleur avec texte -->
        <div class="user-circle"></div>

        <div class="block">

            <div>
                {% if user.is_authenticated %}
                <h3 style="padding-left: 5px;">Hello {{ user.username }}</h3>
                {% endif %}
            </div>
            <!-- Menu horizontal -->
            <nav>
                <ul>
                    <li><a href="/agenda">Mon Agenda</a></li>
                    <li><a href="/compte">Mon compte</a></li>
                    <li><a href="#">Mes patients</a></li>
                    <li><a href="#">Stats</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>

        </div>

        <div class="header-right">

            <form method="post" action="{% url 'agenda' %}"  style="display: flex; align-items: center;">
                {% csrf_token %}

                <span id="week" class="month"></span>
                <button class="previous" type="submit" name="action" value="reculer" id="previousWeek"></button><!--  id="previousWeek" -->
                <span style="display: none;" id="date_vue">{{ date }}</span>
                <input type="hidden" class="date" type="date" id="date" name="date" value="">
                <button class="next" type="submit" name="action" value="avancer" id="nextWeek"></button><!--  id="nextWeek" -->
            </form>

            <div class="logout-btn"><a href="/signout"></a></div>
        </div>

    </header>

    <div class="week">
        <!-- Jour 1 (Lundi) -->
        <div style="height: 500px;">
            <h3>Horaires</h3>
            <div class="hour-slot" style="background-color: white">7h - 8h</div>
            <div class="hour-slot" style="background-color: white">8h - 9h</div>
            <div class="hour-slot" style="background-color: white">9h - 10h</div>
            <div class="hour-slot" style="background-color: white">10h - 11h</div>
            <div class="hour-slot" style="background-color: white">11h - 12h</div>
            <div class="hour-slot" style="background-color: white">12h - 13h</div>
            <div class="hour-slot" style="background-color: white">13h - 14h</div>
            <div class="hour-slot" style="background-color: white">14h - 15h</div>
            <div class="hour-slot" style="background-color: white">15h - 16h</div>
            <div class="hour-slot" style="background-color: white">16h - 17h</div>
            <div class="hour-slot" style="background-color: white">17h - 18h</div>
            <div class="hour-slot" style="background-color: white">18h - 19h</div>
            <div class="hour-slot" style="background-color: white">19h - 20h</div>
        </div>
        <!-- Jour 1 (Lundi) -->
        <div class="day">
            <h3 id="lundi"></h3>
            {% for slot in slots.0 %}
                {% if slot.bloque == True %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}" id="lundi_{{index}}">
                    {% csrf_token %}
                    <div class="hour-slot" style="background-color: darkgrey;">
                        
                        <button class="image-button-lock" type="submit" name="slot" value="slot_unlock_{{ slot.heure_debut }}" id="unlock_{{ index }}" data-debut="{{slot.get_vertical_position}}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 0 >
                    </div>
                    <script>
                        var button = document.getElementById('unlock_{{ index }}');
                        var day = document.getElementsByClassName('day');
                        var form = document.getElementById('lundi_{{index}}');
                        var heureDebutHour = parseInt(button.getAttribute('data-debut'));
                        console.log("Click", heureDebutHour)
                        form.style.position = 'absolute';
                        form.style.width = '50px';
                        form.style.top = heureDebutHour + 'px';
                    </script>
                </form>
                {% endwith %}

                {% elif slot.patient %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot popup-button" style="background-color: greenyellow " data-slot-info = "{{ slot.patient.user.first_name }}{{ slot.patient.user.last_name }}_{{ slot.patient.tel_patient }}_{{ slot.patient.adresse_patient }}_{{ slot.patient.user.email }}_{{ slot.patient.numero_secu }}_{{ slot.note }}">
                        <h4> {{ slot.patient.user.first_name }} </h4>
                        <h4> {{ slot.patient.user.last_name }} </h4>
                        <!-- <h4> {{ slot.note }} </h4> -->
                        
                        <button class="image-button-slot" style="background-color: greenyellow;" type="submit" name="slot" value="slot_rdv_{{ slot.heure_debut }}" id="slot_rdv_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 0 >
                    </div>
                </form>
                {% endwith %}

                {% else %}
                {% with index=forloop.counter %}
                <div class="hour-slot">

                    <form method="post" action="{% url 'agenda' %}" class="image-button">
                    {% csrf_token %}

                    <button class="btn" type="submit" name="slot" value="slot_lock_{{ slot.heure_debut }}" id="lock_{{ index }}"></button>
                    <input type="hidden" type="date" class="date" name="date" value="">
                    <input type="hidden" name="jour" value=0>
                    </form>

                    <button class="image-button add-btn"  name="slot" value="slot_add_{{ slot.heure_debut }}_0" id="add_{{ index }}"></button>
                    
                </div>
                {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- Jour 2 (Mardi) -->
        <div class="day">
            <h3 id="mardi"></h3>
            {% for slot in slots.1 %}
                {% if slot.bloque == True %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot" style="background-color: darkgrey ">
                        
                        <button class="image-button-lock" type="submit" name="slot" value="slot_unlock_{{ index }}" id="unlock_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 1 >
                    </div>
                </form>
                {% endwith %}

                {% elif slot.patient %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot popup-button" style="background-color: greenyellow "  data-slot-info = "{{ slot.patient.user.first_name }}{{ slot.patient.user.last_name }}_{{ slot.patient.tel_patient }}_{{ slot.patient.adresse_patient }}_{{ slot.patient.user.email }}_{{ slot.patient.numero_secu }}_{{ slot.note }}">
                        <h4> {{ slot.patient.user.first_name }} </h4>
                        <h4> {{ slot.patient.user.last_name }} </h4>
                        <!-- <h4> {{ slot.note }} </h4> -->
                        
                        <button class="image-button-slot" style="background-color: greenyellow;" type="submit" name="slot" value="slot_rdv_{{ index }}" id="slot_rdv_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 1 >
                    </div>
                </form>
                {% endwith %}

                {% else %}
                {% with index=forloop.counter %}
                <div class="hour-slot">

                    <form method="post" action="{% url 'agenda' %}" class="image-button">
                    {% csrf_token %}

                    <button class="btn" type="submit" name="slot" value="slot_lock_{{ index }}" id="lock_{{ index }}"></button>
                    <input type="hidden" type="date" class="date" name="date" value="">
                    <input type="hidden" name="jour" value=1>
                    </form>

                    <button class="image-button add-btn"  name="slot" value="slot_add_{{ index }}_1" id="add_{{ index }}"></button>
                    
                </div>
                {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- Jour 3 (Mercredi) -->
        <div class="day">
            <h3 id="mercredi"></h3>
            {% for slot in slots.2 %}
                {% if slot.bloque == True %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot" style="background-color: darkgrey ">
                        
                        <button class="image-button-lock" style="background-color: darkgrey;" type="submit" name="slot" value="slot_unlock_{{ index }}" id="unlock_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 2 >
                    </div>
                </form>
                {% endwith %}

                {% elif slot.patient %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot popup-button" style="background-color: greenyellow " data-slot-info = "{{ slot.patient.user.first_name }}{{ slot.patient.user.last_name }}_{{ slot.patient.tel_patient }}_{{ slot.patient.adresse_patient }}_{{ slot.patient.user.email }}_{{ slot.patient.numero_secu }}_{{ slot.note }}">

                        <h4> {{ slot.patient.user.first_name }} </h4>
                        <h4> {{ slot.patient.user.last_name }} </h4>
                        
                        <button class="image-button-slot" style="background-color: greenyellow;" type="submit" name="slot" value="slot_rdv_{{ index }}" id="slot_rdv_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 2 >
                    </div>
                </form>
                {% endwith %}

                {% else %}
                {% with index=forloop.counter %}
                <div class="hour-slot">

                    <form method="post" action="{% url 'agenda' %}" class="image-button">
                    {% csrf_token %}

                    <button class="btn" type="submit" name="slot" value="slot_lock_{{ index }}" id="lock_{{ index }}"></button>
                    <input type="hidden" type="date" class="date" name="date" value="">
                    <input type="hidden" name="jour" value=2>
                    </form>

                    <button class="image-button add-btn"  name="slot" value="slot_add_{{ index }}_2" id="add_{{ index }}"></button>
                    
                </div>
                {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- Jour 4 (Jeudi) -->
        <div class="day">
            <h3 id="jeudi"></h3>
            {% for slot in slots.3 %}
                {% if slot.bloque == True %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot" style="background-color: darkgrey ">
                        
                        <button class="image-button-lock" style="background-color: darkgrey;" type="submit" name="slot" value="slot_unlock_{{ index }}" id="unlock_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 3 >
                    </div>
                </form>
                {% endwith %}

                {% elif slot.patient %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot popup-button" style="background-color: greenyellow " data-slot-info = "{{ slot.patient.user.first_name }}{{ slot.patient.user.last_name }}_{{ slot.patient.tel_patient }}_{{ slot.patient.adresse_patient }}_{{ slot.patient.user.email }}_{{ slot.patient.numero_secu }}_{{ slot.note }}">

                        <h4> {{ slot.patient.user.first_name }} </h4>
                        <h4> {{ slot.patient.user.last_name }} </h4>
                        
                        <button class="image-button-slot" style="background-color: greenyellow;" type="submit" name="slot" value="slot_rdv_{{ index }}" id="slot_rdv_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 3 >
                    </div>
                </form>
                {% endwith %}

                {% else %}
                {% with index=forloop.counter %}
                <div class="hour-slot">

                    <form method="post" action="{% url 'agenda' %}" class="image-button">
                    {% csrf_token %}

                    <button class="btn" type="submit" name="slot" value="slot_lock_{{ index }}" id="lock_{{ index }}"></button>
                    <input type="hidden" type="date" class="date" name="date" value="">
                    <input type="hidden" name="jour" value=3>
                    </form>

                    <button class="image-button add-btn"  name="slot" value="slot_add_{{ index }}_3" id="add_{{ index }}"></button>
                    
                </div>
                {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- Jour 5 (Vendredi) -->
        <div class="day">
            <h3 id="vendredi"></h3>
            {% for slot in slots.4 %}
                {% if slot.bloque == True %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot" style="background-color: darkgrey ">
                        
                        <button class="image-button-lock" style="background-color: darkgrey;" type="submit" name="slot" value="slot_unlock_{{ index }}" id="unlock_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 4 >
                    </div>
                </form>
                {% endwith %}

                {% elif slot.patient %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot popup-button" style="background-color: greenyellow " data-slot-info = "{{ slot.patient.user.first_name }}{{ slot.patient.user.last_name }}_{{ slot.patient.tel_patient }}_{{ slot.patient.adresse_patient }}_{{ slot.patient.user.email }}_{{ slot.patient.numero_secu }}_{{ slot.note }}">

                        <h4> {{ slot.patient.user.first_name }} </h4>
                        <h4> {{ slot.patient.user.last_name }} </h4>
                        
                        <button class="image-button-slot" style="background-color: greenyellow;" type="submit" name="slot" value="slot_rdv_{{ index }}" id="slot_rdv_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 4 >
                    </div>
                </form>
                {% endwith %}

                {% else %}
                {% with index=forloop.counter %}
                <div class="hour-slot">

                    <form method="post" action="{% url 'agenda' %}" class="image-button">
                    {% csrf_token %}

                    <button class="btn" type="submit" name="slot" value="slot_lock_{{ index }}" id="lock_{{ index }}"></button>
                    <input type="hidden" type="date" class="date" name="date" value="">
                    <input type="hidden" name="jour" value=4>
                    </form>

                    <button class="image-button add-btn"  name="slot" value="slot_add_{{ index }}_4" id="add_{{ index }}"></button>
                    
                </div>
                {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- Jour 6 (Samedi) -->
        <div class="day">
            <h3 id="samedi">Samedi </h3>
            {% for slot in slots.5 %}
                {% if slot.bloque == True %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot" style="background-color: darkgrey ">
                        
                        <button class="image-button-lock" style="background-color: darkgrey;" type="submit" name="slot" value="slot_unlock_{{ index }}" id="unlock_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 5 >
                    </div>
                </form>
                {% endwith %}

                {% elif slot.patient %}
                {% with index=forloop.counter %}
                <form method="post" action="{% url 'agenda' %}">
                    {% csrf_token %}
                    <div class="hour-slot popup-button" style="background-color: greenyellow " data-slot-info = "{{ slot.patient.user.first_name }}{{ slot.patient.user.last_name }}_{{ slot.patient.tel_patient }}_{{ slot.patient.adresse_patient }}_{{ slot.patient.user.email }}_{{ slot.patient.numero_secu }}_{{ slot.note }}">

                        <h4> {{ slot.patient.user.first_name }} </h4>
                        <h4> {{ slot.patient.user.last_name }} </h4>
                        
                        <button class="image-button-slot" style="background-color: greenyellow;" type="submit" name="slot" value="slot_rdv_{{ index }}" id="slot_rdv_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value = 5 >
                    </div>
                </form>
                {% endwith %}

                {% else %}
                {% with index=forloop.counter %}
                    <div class="hour-slot">

                        <form method="post" action="{% url 'agenda' %}" class="image-button">
                        {% csrf_token %}

                        <button class="btn" type="submit" name="slot" value="slot_lock_{{ index }}" id="lock_{{ index }}"></button>
                        <input type="hidden" type="date" class="date" name="date" value="">
                        <input type="hidden" name="jour" value=5>
                        </form>

                        <button class="image-button add-btn"  name="slot" value="slot_add_{{ index }}_5" id="add_{{ index }}"></button>
                        
                    </div>
                
                {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        
    </div>




    <div id="myPopup" class="popup">
        <div class="popup-content">

            <span id="close">&times;</span>
            <h2 style="text-align: center;">16:00 - 17h00 (1h) le 30 janvier 2024</h2>
            <div class="fiche-patient">
                
                <div class="icon-texte nom-pop">
                    <div class="patient-circle"></div>
                    <p></p>
                </div>
                

                <div class="icon-texte tel-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>+33 6 45 45 45 45</p>
                </div>

                <div class="icon-texte adresse-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>3 allée des abricots, Paris 60129, France.</p>
                </div>

                <div class="icon-texte email-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>alexis.simono@utt.com</p>
                </div>

                <div class="icon-texte vitale-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>26545151 11 115</p>
                </div>

                <div class="icon-texte respo-pop">
                    <img src="../../static/img/compte/personn_add.png" alt="Icon 1">
                    <p>André Dupont</p>
                </div>

            </div>
            <h4>Note: </h4>
            <textarea id="note" rows="4" cols="50" maxlength="2000" placeholder="Ecrivez ce que vous voulez balek"></textarea>
            <br>
            <br>
            <div class="button-container">
                <button class="cancel-btn">Annuler le RDV</button>
            </div>
            

        </div>
    </div>


    <div id="popup2">
        <div id="popup-add">
            <span id="close2">&times;</span>
            <h2 style="text-align: center;">Ajouter un RDV !</h2>

            <form method="post" action="{% url 'agenda' %}">
                {% csrf_token %}
                <label for="titre">Titre</label>
                <input type="text" name="titre" id="titre">
        
                <h4>Rechercher le client</h4>
                <input type="text" name="search" id="search" required>
                <div id="results-container">
        
                </div>
        
                <input type="hidden" name="date" value=" {{ date }}">
        
                <label for="notes">Notes</label>
                <input type="text" name="notes" id="notes">
        
                <button id="add_rdv_btn" type="submit" name="slot" value="slot_add">Ajouter le RDV</button>
        
            </form>
        </div>


    </div>

    <script src="../../static/script/weekly_script.js"></script>
    <script src="../../static/script/accueil_date_script.js"></script>
    <script src="../../static/script/add_rdv_script.js"></script>
</body>
</html>
