body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container-page{
    width: 100%;
    position: relative;
    display: flex;
}

.container-left{

    width: 35%;
    position: relative;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.container-typesRDV{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 25px;
    position: relative;
    gap: 5px;
}

.container-rdv{
    width: 80%;
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    transition: all ease 0.3s;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.invit{

    display: flex; 
    justify-content: space-between;
    padding: 10px;
}

.invit input{

    width: 19%;
}

.no-style{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.delete-rdv{

    background-color: white;
    padding: 5px;
    /* border: red solid 2px; */
    border-radius: 5px;
    margin: auto;
    margin-left: 5px;
    transition: all ease 0.3s;
}

.delete-rdv:hover{

    background-color: red;
    cursor: pointer;
    fill: white;

}

.fleche{
    border-radius: 20%;
    transition: all ease 0.3s;
}

.fleche:hover{
    cursor: pointer;
    background-color: green;
}

.fleche:hover path{
    stroke: white;
}

.clock{
    margin: auto; 
    margin-left: 10%;
}

.clock input{
    padding: 5px;
    border-radius: 10px;
    transition: all ease 0.2s;
    transform: translateY(-2px);
}

.clock input:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}

.clockInv input{
    padding: 5px;
    border-radius: 10px;
    transition: all ease 0.2s;
    transform: translateY(-2px);
}

.clockInv input:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}

.clockclock input{

    width:75px;
    
}


.blockUP{

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin: 10px auto;
}

.infos-box{
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: small;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    width: 50%;
}

.infos-box p{
    white-space: nowrap; /* Empêche le texte de se mettre à la ligne */
    overflow: hidden; /* Cache le texte qui dépasse la largeur */
    text-overflow: ellipsis; /* Affiche des points de suspension (...) lorsque le texte dépasse */
    max-width: 200px;
}

.infos-box span{
    position: absolute;
    left: 20px;
    top:-8px;
    background-color: white;
    border-left: black 1px solid;
    border-right: black 1px solid;
    padding: 0px 5px;

}

.circle{
    position: relative;
    margin: 0px auto 30px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 3px solid black;
}

.crayon{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid black;
    right: 0;
    bottom: 0;
    background-color: white;
    background-image: url('../img/setup/pen.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
    width: 20px;
}

.crayon:hover{

    cursor: pointer;
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.5);
}

#modif_medecin{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.enregistrer {
    margin: 10px auto;
    background-color: orange;
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none; /* Supprime le contour lorsque le bouton est cliqué */
}

.enregistrer:hover{
    cursor: pointer;
    background-color: #ff8c00;

}

.change_password{

    width: 70%;
    height: 35px;
    border: 2px solid black;
    border-radius: 45px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.change_password p{
    margin: auto;
    margin-left: 35%;
    transition: all ease 0.3s;
}

.cadenas{
    position: absolute;
    width: 20px;
    height: 31px;
    border-radius: 100%;
    left: 10%;
    top: 3px;
    background-image: url('../img/weekly/lock.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
    width: 20px;
    transition: all ease 0.3s;
}

.change_password:hover div{
    cursor: pointer;
    left: 55%;
    background-image: url('../img/weekly/unlock.png');

}

.change_password:hover{
    cursor: pointer;
    color: green;
    border: 3px solid green;
    font-weight: bolder;
}

.change_password:hover p{
    margin-left: 0px;
    margin-right: 25%;
}



/* inputbox */
:root {
    --ma-couleur: rgb(123, 78, 1);
    /* --ma-couleur2: white; */
    --ma-couleurUp: rgb(159, 105, 11);
    --ma-couleur2Up: white;
}

.inputBoxUp{
    position:relative;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.inputBoxUp input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    outline:none;
    font-size: 1em;
    transition: 0.5s;
}

.inputBoxUp span{
    position: absolute;
    left:0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
    opacity: 0.5;
}

.inputBoxUp input:valid ~ span,
.inputBoxUp input:focus ~ span
{
    color:var(--ma-couleur);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: white;
    border-left: 1px solid var(--ma-couleur);
    border-right: 1px solid var(--ma-couleur);
    letter-spacing: 0.2em;
    opacity: 1;
}

.inputBoxUp input:valid,
.inputBoxUp input:focus
{
    border: 1px solid var(--ma-couleur);
    color: var(--ma-couleur);
}

/* container-text */


.container-text{
    padding: 0;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.container-text textarea{

    position: relative;
    height: 50px;
    border: var(--ma-couleurUp) solid 1.9px;
    color: black;
    outline: none;
    background: var(--ma-couleur2Up);
    margin-bottom: 20px;
    padding: 5px;
    width:100%;
}

.container-text span{

    position: absolute;
    color: white;
    text-transform: uppercase;

    /* color:var(--ma-couleur2); */
    transform: translateX(5px) translateY(-5px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--ma-couleurUp);
    letter-spacing: 0.2em;
    transition:0.5s;
}

.container-text textarea:focus ~ span
{

    background: var(--ma-couleur2Up);
    color:var(--ma-couleurUp);

    border-left: 1.9px solid var(--ma-couleurUp);
    border-right: 1.9px solid var(--ma-couleurUp);
}



/* POPUUUUUP */
#popup {
    display:none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;  
    background-color: rgba(0,0,0,0.3); 
  
}

.popup-mdp{

    background-color: white;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px 40px;
    border: 1px solid #888;
    width: 50%;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
}

#close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

#close:hover{
    cursor: pointer;
    color: black;
}
