.week {
    display: flex; /* Affichage en flexbox */
    justify-content: space-around; /* Espacement égal entre les jours */
}

.day {
    width: calc(100% / 7);
    text-align: center; 
    padding: 10px; 
    border: 1px solid #ccc;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}

.hour-slot {
    position: relative;
    height: 30px; 
    margin-bottom: 5px;
    background-color: whitesmoke; /* Couleur de fond des créneaux */
    display: flex; /* Utiliser Flexbox */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; 
    border-radius: 10px 0px 10px 10px;
}

/* Styles pour les créneaux horaires survolés */
.hour-slot:hover {
    box-shadow: inset 0 0 0 2px black;  
}

.hour-slot .image-button-lock {
    position: absolute; /* Position the buttons relative to the parent div */
    display: none; /* Initially hide the buttons */
    -webkit-font-smoothing: antialiased; /* Pour les navigateurs WebKit comme Chrome et Safari */
    -moz-osx-font-smoothing: grayscale;
    background-color: darkgrey;
    background-image: url('../img/weekly/unlock.png');
    width: 20px;
    height: 22px;
    border:none;
    margin: auto;
}

.hour-slot .image-button-slot {
    position: absolute; /* Position the buttons relative to the parent div */
    display: none; /* Initially hide the buttons */
    -webkit-font-smoothing: antialiased; /* Pour les navigateurs WebKit comme Chrome et Safari */
    -moz-osx-font-smoothing: grayscale;
    background-image: url('../img/weekly/bin.png');
    width: 20px;
    border:none;
    height: 22px;
    margin: auto;
}

.hour-slot .image-button {
    position: absolute; /* Position the buttons relative to the parent div */
    display: none; /* Initially hide the buttons */
    -webkit-font-smoothing: antialiased; /* Pour les navigateurs WebKit comme Chrome et Safari */
    -moz-osx-font-smoothing: grayscale;
}

.hour-slot .block-btn{
    background-image: url('../img/weekly/lock.png');
    width: 20px;
    border:none;
    height: 22px;
    margin-left: 60%;
}

.hour-slot .image-button:last-child {
    background-image: url('../img/weekly/add.png');
    border:none;
    width: 20px;
    height: 22px;
    margin-right: 30%;
}

/* Styles for the div when hovered */
.hour-slot:hover .image-button {
    display: block; /* Show the buttons when the div is hovered */
}

.hour-slot:hover .image-button-slot {
    display: block; /* Show the buttons when the div is hovered */
}

.hour-slot:hover .image-button-lock {
    display: block; /* Show the buttons when the div is hovered */
}

/* Styles pour la bordure orange */
.orange-border {
    border-top: 2px solid orange; /* Bordure supérieure orange */
}

/* ########################################### POPUP */