<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../../static/weekly/weekly_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../../static/signup/signup_style.css' %}">
</head>
<body>
  
    <h3>Let's Sign Up</h3>

    <form action="/signup" method="post">
    {% csrf_token %}

        {{ form1.as_p }}
        <!-- 'username', 'email', 'first_name','last_name' -->

        <div class="inputBox">

            {{ form1.username }}
            <span>Username</span>
        </div>

        <div class="inputBox">

            {{ form1.email }}
            <span>email</span>
        </div>

        <div class="inputBox">

            {{ form1.first_name }}
            <span>Prénom</span>
        </div>

        <div class="inputBox">

            {{ form1.last_name }}
            <span>Nom</span>
        </div>


        {{ form2.as_p }}
        <input type="hidden" id="ma_liste" name="ma_liste" value="">
        <input type="submit" value="S'inscrire" id="valider">
    </form>

    <h3>Cliquez sur les éléments où vous ne voulez PAS travailler !</h3>

    <div class="week">
        <!-- Jour 1 (Lundi) -->
        <div>
            <h3>Horaires</h3>
            <div class="hour-slot" style="background-color: white">7h - 8h</div>
            <div class="hour-slot" style="background-color: white">8h - 9h</div>
            <div class="hour-slot" style="background-color: white">9h - 10h</div>
            <div class="hour-slot" style="background-color: white">10h - 11h</div>
            <div class="hour-slot" style="background-color: white">11h - 12h</div>
            <div class="hour-slot" style="background-color: white">12h - 13h</div>
            <div class="hour-slot" style="background-color: white">13h - 14h</div>
            <div class="hour-slot" style="background-color: white">14h - 15h</div>
            <div class="hour-slot" style="background-color: white">15h - 16h</div>
            <div class="hour-slot" style="background-color: white">16h - 17h</div>
            <div class="hour-slot" style="background-color: white">17h - 18h</div>
            <div class="hour-slot" style="background-color: white">18h - 19h</div>
            <div class="hour-slot" style="background-color: white">19h - 20h</div>
        </div>
        <!-- Jour 1 (Lundi) -->
        <div class="day" id="lundi">
            <h3>Lundi</h3>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
        </div>
        <!-- Jour 2 (Mardi) -->
        <div class="day" id="mardi">
            <h3>Mardi</h3>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
        </div>
        <!-- Jour 3 (Mercredi) -->
        <div class="day" id="mercredi">
            <h3>Mercredi</h3>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
        </div>
        <!-- Jour 4 (Jeudi) -->
        <div class="day" id="jeudi">
            <h3>Jeudi</h3>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
        </div>
        <!-- Jour 5 (Vendredi) -->
        <div class="day" id="vendredi">
            <h3>Vendredi</h3>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
        </div>
        <!-- Jour 6 (Samedi) -->
        <div class="day" id="samedi">
            <h3>Samedi</h3>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot orange-border"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
            <div class="hour-slot"></div>
        </div>
        
    </div>

    <script>

        let lundi = new Array(13).fill(false);
        let mardi = new Array(13).fill(false);
        let mercredi = new Array(13).fill(false);
        let jeudi = new Array(13).fill(false);
        let vendredi = new Array(13).fill(false);
        let samedi = new Array(13).fill(false);

        function populate_days(day, list) {

            const dayDiv = document.getElementById(day);
            const hourSlots = dayDiv.querySelectorAll('.hour-slot');
            index = 0

            hourSlots.forEach( (slot, index) => {
                
                const clicked = slot.getAttribute('data-clicked') === 'true';

                if (clicked) {                    
                    list[index] = true
                } else {
                    list[index] = false
                }
            });
        }

        var csrftoken = '{{ csrf_token }}'


        // Récupérer tous les éléments avec la classe "hour-slot"
        const hourSlots = document.querySelectorAll('.hour-slot');

        // Ajouter un écouteur de clic à chaque élément
        hourSlots.forEach(slot => {
            slot.addEventListener('click', () => {
                // Vérifier la couleur actuelle du slot
                const clicked = slot.getAttribute('data-clicked') === 'true';

                // Si le slot a été cliqué, changer en blanc, sinon changer en gris foncé
                if (clicked) {
                    slot.style.backgroundColor = 'whitesmoke';
                    slot.setAttribute('data-clicked', 'false');
                } else {
                    slot.style.backgroundColor = 'darkgrey';
                    slot.setAttribute('data-clicked', 'true');
                }
                
                //Mettre à jour les listes
                let list_days = [lundi, mardi, mercredi, jeudi, vendredi, samedi]
                const days = ['lundi','mardi','mercredi','jeudi','vendredi','samedi'];
            
                for(let i = 0; i < list_days.length; i++){
                    
                    console.log(days[i] + "\n")
                    populate_days(days[i], list_days[i]);
                    console.log(list_days[i] + "\n ---------")
                }


                document.getElementById('ma_liste').value = JSON.stringify(list_days);
            });
        });

    </script>


</body>
</html>