:root {
    --ma-couleur: rgb(123, 78, 1);
    /* --ma-couleur2: white; */
    --ma-couleurUp: rgb(159, 105, 11);
    --ma-couleur2Up: white;
  }

  /* Messages */
.custom-alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: white;
    border: 1px solid red;
    padding: 5px;
    display: flex;
  }
  
.fade {
animation: fadeOut 10s ease-in-out forwards;
}

.fade:hover {
    animation: fadeInOut 10s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1; /* Inverser les valeurs */
    }
  
}
.container{

    width: 80%;
    display: flex;
    height: 100svh;

}   

body{

    margin: 0;
    background-color: pink;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}


.left-panel{

    background-color: pink;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    /* transition: all ease-out 0.3s; */
}

.left-panel:hover{

    /* background-color: rgb(255, 156, 173); */
}

.left-panel h3{

    margin-top: 150px;
}
.right-panel h3{

    margin-top: 150px;
}

.btn{

    margin: 50px auto;
    display: block;
    padding: 7px;
    border: solid 1px black;
    background: lightgoldenrodyellow;
    border-radius: 10px;
    font-size: 16px;
    transition: all ease 0.2s;
}

.btn:hover{
    cursor: pointer;
    transform: scaleY(1.2);
    background-color: rgb(255, 255, 173);
}

.signup-link{

    margin: 100px auto;
    display: block;
    padding: 20px;
    border: solid 1px black;
    background: transparent;
    border-radius: 150px;
    font-size: 16px;
    transition: all ease-in 0.2s;
    text-decoration: none;
    color: inherit;
}


.signup-link:hover{

    transform: scale(1.3);
    font-size: 13px;
    cursor: pointer;
    /* background-color: rgb(255, 125, 147); */
}

.right-panel{
    background-color: lightgray;
    width:35%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 50%;
    border: 1px solid black;
    transition: all ease 1s;
    position: absolute;
    right: 0px;
    height: 100svh;
    /* padding: 20px; */

}

.right-panel p{
    width: 80%;
    text-align: center;
}

/* .right-panel:hover{
    background-color: rgb(160, 160, 160);
    
} */

.form{
    margin-top: 12%;
}

.inputBox{
    position:relative;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background: pink;
    border-radius: 5px;
    outline:none;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span{
    position: absolute;
    left:0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color:var(--ma-couleur);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: pink;
    border-left: 1px solid var(--ma-couleur);
    border-right: 1px solid var(--ma-couleur);
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid var(--ma-couleur);
    color: var(--ma-couleur);
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span
{
    border: 1px solid var(--ma-couleur);
    color: white;
    background-color: var(--ma-couleur);
}




/* SIGNU¨PPPPPPP */
.block{

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}



.inputBoxUp{
    position:relative;
    display: flex;
    flex-direction:column;
    width: 50%;
    margin-top: 10px;
}

.inputBoxUp input{
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    background: var(--ma-couleur2Up);
    border-radius: 5px;
    outline:none;
    font-size: 1em;
    transition: 0.5s;
}

.inputBoxUp span{
    position: absolute;
    /* left: 50px; */
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(96, 96, 96, 0.645);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBoxUp input:valid ~ span,
.inputBoxUp input:focus ~ span
{
    color:var(--ma-couleurUp);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.60em;
    padding: 0 10px;
    background: var(--ma-couleur2Up);
    border-left: 1px solid var(--ma-couleurUp);
    border-right: 1px solid var(--ma-couleurUp);
    letter-spacing: 0.2em;
}

.inputBoxUp input:valid,
.inputBoxUp input:focus
{
    border: 1px solid var(--ma-couleurUp);
    color: var(--ma-couleurUp);
}



.container-select{
    position: relative;
    display: flex;
}

.container-text{
    padding: 0;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.container-text textarea{

    position: relative;
    height: 50px;
    border: var(--ma-couleurUp) solid 1.9px;
    color: black;
    outline: none;
    background: var(--ma-couleur2Up);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width:100%;
}

.container-text span{

    position: absolute;
    color: white;
    text-transform: uppercase;

    /* color:var(--ma-couleur2); */
    transform: translateX(5px) translateY(15px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--ma-couleurUp);
    letter-spacing: 0.2em;
    transition:0.5s;
}

.container-text textarea:focus ~ span
{

    background: var(--ma-couleur2Up);
    color:var(--ma-couleurUp);

    border-left: 1.9px solid var(--ma-couleurUp);
    border-right: 1.9px solid var(--ma-couleurUp);
}

.container-select select{
    width: 280%;
    height: 50px;
    padding-left: 15px;
    font-size: 16px;
    border: var(--ma-couleurUp) solid 1.9px;
    border-radius: 4px;
    color: black;
    outline: none;
    cursor: pointer;
    background: var(--ma-couleur2Up);
    margin-top: 20px;
    margin-bottom: 10px;
}

.container .title{

    position: absolute;
    width:140px;
    left: 10px;
    top: 15px;
    color:white;
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--ma-couleurUp);
    letter-spacing: 0.2em;
    transition:0.5s;
}

.container-select select:focus ~ .title{

    border-left: 1px solid var(--ma-couleurUp);
    border-right: 1px solid var(--ma-couleurUp);
    background: var(--ma-couleur2Up);
    color: var(--ma-couleurUp);
}

.container-signup{
    padding-top: 7%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: pink;
    transition: none;
    opacity: 0;
    /* visibility: hidden; */
}

.container-signup form{
    width: 80%;
}