.container{

    width: 100%;
    display: flex;
    height: 100svh;
}

body{

    /* background: pink; */
    margin: 0;
    background-color: pink;
}


.left-panel{

    background-color: pink;
    width:65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}


.left-panel h3{

    margin-top: 150px;
}
.right-panel h3{

    margin-top: 150px;
}

.btn{

    margin: 50px auto;
    display: block;
    padding: 7px;
    border: solid 1px black;
    background: lightgoldenrodyellow;
    border-radius: 10px;
    font-size: 16px;
    transition: all ease 0.2s;
}

.btn:hover{
    cursor: pointer;
    transform: scaleY(1.2);
    background-color: rgb(255, 255, 173);
}

.signup-link{

    margin: 100px auto;
    display: block;
    padding: 20px;
    border: solid 1px black;
    background: transparent;
    border-radius: 150px;
    font-size: 16px;
    transition: all ease-in 0.2s;
}

.signup-link:hover{

    transform: scale(1.3);
    font-size: 13px;
    cursor: pointer;
}

.right-panel{
    background-color: lightgray;
    width:35%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 50%;
    border-left: 1px solid black;
    transition: all ease 0.2s;

}

.right-panel:hover{
    background-color: rgb(232, 232, 232);
    
}

.form{
    margin-top: 12%;
}

.inputBox{
    position:relative;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background: pink;
    border-radius: 5px;
    outline:none;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span{
    position: absolute;
    left:0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color:rgb(186, 130, 33);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: pink;
    border-left: 1px solid rgb(186, 130, 33);
    border-right: 1px solid rgb(186, 130, 33);
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid rgb(186, 130, 33);
    color: rgb(186, 130, 33);
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span
{
    border: 1px solid rgb(186, 130, 33);
    color: black;
    background-color: rgb(186, 130, 33);
}