header {
    background-color: #DBB1BC;
    color: black; 
    padding: 10px; 
    display: flex;
    align-items: center; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a:focus, /* Pour les navigateurs qui utilisent le focus */
nav ul li a:active { /* Pour les navigateurs qui utilisent le clic actif */
    outline: none; /* Supprime la bordure autour du lien lorsqu'il est cliqué */
}

nav a{

    color: black;
    text-decoration: none;
    padding: 5px;
}

nav a:hover{

    background: lightgray;
    transition: 0.2s;
    border-radius: 10px;
}

nav ul li:last-child {
    margin-right: 0; 
}

.month {
    font-size: 1.2em;
    margin: 0 20px; 
}

.logout-btn a{
    padding: 8px 16px; 
    border:none;
    cursor: pointer;
    margin-left: 200px; 
    background-image: url('../img/weekly/logout.png');
    background-size: contain;
    background-position: center;
    width: auto;
    height: 50px;
    background-repeat: no-repeat;
    margin-right: 20px;
    background-color: #DBB1BC;
}

.next{

    padding: 10px 10px; 
    border:none;
    cursor: pointer; 
    background-image: url('../img/weekly/next2.png');
    background-size: contain;
    background-position: center;
    width: auto;
    background-repeat: no-repeat;
    background-color: #DBB1BC;

}

.next:hover {

    background-color: rgb(181, 179, 179);
    border-radius: 100px;
    transition: 0.4s;
    padding: 12px 12px;
}

.previous:hover{

    background-color: rgb(181, 179, 179);
    border-radius: 100px;
    transition: 0.4s;
    padding: 12px 12px;
}

.logout-btn a:hover{

    background-color: rgb(181, 179, 179);
    border-radius: 40%;
    transition: 0.4s;
    padding: 20px 15px;
}



.previous{

    padding: 10px 10px; 
    border:none;
    cursor: pointer; 
    background-image: url('../img/weekly/previous2.png');
    background-size: contain;
    background-position: 5px center;
    width: auto;
    background-repeat: no-repeat;
    background-color: #DBB1BC;
}

.user-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BBBBBB;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.block{

    display: flex;
    flex-direction: column;
}

.header-right{
    display: flex;
    margin-left: auto;
    align-items: center; 
}