header {
    background-color: #DBB1BC;
    color: black; 
    padding: 10px; 
    display: flex;
    align-items: center; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0; 
}

.month {
    font-size: 1.2em;
    margin: 0 20px; 
}

.logout-btn a{
    padding: 8px 16px; 
    border:none;
    cursor: pointer;
    margin-left: 200px; 
    background-image: url('../img/weekly/logout.png');
    background-size: contain;
    background-position: center;
    width: auto;
    height: 50px;
    background-repeat: no-repeat;
    margin-right: 20px;
    background-color: #DBB1BC;
}

.next{

    padding: 8px 16px; 
    border:none;
    cursor: pointer; 
    background-image: url('../img/weekly/next2.png');
    background-size: contain;
    background-position: center;
    width: auto;
    /* height: 20px; */
    background-repeat: no-repeat;
    background-color: #DBB1BC;
}

.previous{

    padding: 8px 16px; 
    border:none;
    cursor: pointer; 
    background-image: url('../img/weekly/previous2.png');
    background-size: contain;
    background-position: center;
    width: auto;
    /* height: 20px; */
    background-repeat: no-repeat;
    background-color: #DBB1BC;
}

.user-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BBBBBB;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.block{

    display: flex;
    flex-direction: column;
}

.header-right{
    display: flex;
    margin-left: auto;
    align-items: center; 
}