.container-body{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container{
    border:1px solid red;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 80%;
}

.container-select{
    position: relative;
    display: inline-block;
}

.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-text textarea{

    position: relative;
    height: 50px;
    border: rgb(186, 130, 33) solid 1.9px;
    color: black;
    outline: none;
    background: pink;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;

}

.container-text span{

    position: absolute;
    color: black;
    text-transform: uppercase;

    color:pink;
    transform: translateX(-35px) translateY(-30px);
    font-size: 0.65em;
    padding: 0 10px;
    background: rgb(186, 130, 33);
    letter-spacing: 0.2em;
    transition:0.5s;
}

.container-text textarea:focus ~ span
{

    background: pink;
    color:rgb(186, 130, 33);

    border-left: 1.9px solid rgb(186, 130, 33);
    border-right: 1.9px solid rgb(186, 130, 33);
}

.container-select select{
    width: 14rem;
    height: 3rem;
    padding-left: 15px;
    font-size: 16px;
    border: rgb(186, 130, 33) solid 1.9px;
    border-radius: 4px;
    color: black;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    background: pink;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container .title{

    position: absolute;
    width:140px;
    left: 10px;
    top: 15px;
    color:pink;
    font-size: 0.65em;
    padding: 0 10px;
    background: rgb(186, 130, 33);
    letter-spacing: 0.2em;
    transition:0.5s;
}

.container-select select:focus ~ .title{

    border-left: 1px solid rgb(186, 130, 33);
    border-right: 1px solid rgb(186, 130, 33);
    background: pink;
    color: rgb(186, 130, 33);
}




.inputBox{
    position:relative;
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-top: 10px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    background: pink;
    border-radius: 5px;
    outline:none;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span{
    position: absolute;
    /* left: 50px; */
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color:rgb(186, 130, 33);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: pink;
    border-left: 1px solid rgb(186, 130, 33);
    border-right: 1px solid rgb(186, 130, 33);
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid rgb(186, 130, 33);
    color: rgb(186, 130, 33);
}