.container-body{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container{
    border:1px solid red;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 80%;
}

.inputBox{
    position:relative;
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-top: 10px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    background: pink;
    border-radius: 5px;
    outline:none;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span{
    position: absolute;
    /* left: 50px; */
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color:rgb(186, 130, 33);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: pink;
    border-left: 1px solid rgb(186, 130, 33);
    border-right: 1px solid rgb(186, 130, 33);
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid rgb(186, 130, 33);
    color: rgb(186, 130, 33);
}