body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.patient-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
   
}

.patient{
    background-color: #f0f0f0;
    display: flex; /* Affichage en flexbox */
    justify-content: space-between; /* Centrage horizontal des éléments */
    align-items: center; /* Centrage vertical des éléments */
    border-radius: 10px;
    gap: 50px;
    width: 90%;
    border: 2px solid #f0f0f0;
    transition: all ease 0.1s;
}

.patient h2{
    width: 20%;
}

.patient p{
    width: 20%;
}

.patient :last-child{
    margin-right: 10px;
}

.patient :first-child{
    margin-left: 10px;
}

.patient:hover{

    cursor: pointer;
    border: 2px solid black;
    transform: scaleY(1.14);
}

.inviter-button {
    background-color: orange;
    border: 2px solid black;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none; /* Supprime le contour lorsque le bouton est cliqué */
}

.inviter-button:hover{
    cursor: pointer;
    background-color: #ff8c00;

}

.patient-inline {
    
    display: flex; /* Affichage en flexbox */
    align-items: center; /* Centrage vertical des éléments */
    border-radius: 10px;
    padding: 5px 10px;
    gap:10px;
    width: 100%;
    
}


.patient-circle {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #DBB1BC;
    margin-right: 10px; 
    border: 2px solid black; 
}

.div-button{
    width: 100%;
    background-color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    padding-left: 30px;
    padding-bottom: 30px;
}

.bouton-add{
    background-color: orange;
    border: 2px solid black;
    color: black;
    padding: 3px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    outline: none; 
    height: 30px;
    display: flex;
    overflow: hidden;
    gap: 5px;
    width:fit-content;
    align-items: center;
    justify-content: center;
}

.bouton-add:hover{
    cursor: pointer;
    background-color: #ff8c00;

}

.bouton-add img{
    max-width: 100%;
}

